
<div class="d-flex justify-content-around align-items-center w-100">
  <div class="d-flex align-items-center ">
  <img src="../../../assets/camping-logo-22C0B28A5F-seeklogo.com.png"  width="80" height="90">
<div class="fs-2 fw-bold c p-2">CampingClub</div></div>
    <div class="p-2 bd-highlight"><a class="nav-link " routerLink="/menubo/poste">Poste</a></div>
    <div class="p-2 bd-highlight"><a class="nav-link" routerLink="/menubo/monposte">monPoste</a></div>
    <div class="p-2 bd-highlight"><a class="nav-link" routerLink="/menubo/moncompte">Mon compte</a></div>
    <button routerLink="/menufo" class="btn btn-primary" (click)="onDisconnect()">Log Out</button>
  </div>
  <router-outlet></router-outlet>