

      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container ">
          <div class="d-flex align-items-center justify-content-between ">
          <img src="../../../assets/camping-logo-22C0B28A5F-seeklogo.com.png"  width="80" height="90" >
            <a class="navbar-brand m-4" href="#!">CampingClub</a>
          </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" routerLink="/menufo/home">Accueil</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/menufo/postes">Postes</a></li>
                 
                    <li class="nav-item mx-5"><button class="btn btn-warning" routerLink="/login">Log In</button></li>
                </ul>
            </div>
        </div>
    </nav>
       <router-outlet></router-outlet>
